<p id="notice"><%= notice %></p>

<h1>Listing Learnings</h1>



<% @learnings.each do |learning| %>

<article class='learning'>
  <span id='learning-title'><strong>Title: </strong><%= learning.title %></span>

  <span><strong>Description: </strong></span>
  <%= markdown(learning.description) %>

  <div class='crud-buttons'>
    <%= link_to 'Show', learning, class: 'btn btn-sm btn-success' %>
    <%= link_to 'Edit', edit_learning_path(learning), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', learning, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>

</article>

<% end %>

<%= link_to 'New Learning', new_learning_path, class: 'btn btn-md btn-primary' %>
