<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @learning.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= markdown @learning.description %>
</p>

<%= link_to 'Edit', edit_learning_path(@learning) %> |
<%= link_to 'Back', learnings_path %>
